.banner {
  margin-bottom: 45px;
}
.heartfelt {
  width: 100%;
  display: flex;
  -webkit-flex: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 69px;
}
.heartfelt dd {
  width: 22%;
  text-align: center;
}
.heartfelt h2 {
  font-size: 24px;
  color: #333;
  line-height: 24px;
}
.heartfelt p {
  font-size: 14px;
  color: #666;
  margin-top: 25px;
}
.heartfelt_img {
  height: 148px;
  display: flex;
  -webkit-flex: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1100px) {
  .heartfelt dd {
    width: 40%;
  }
}
.contact_us {
  width: 100%;
  background: url('../images/contact_bg.png') center center no-repeat;
  padding: 45px 0 ;
}
.contact_us .marketing_title dt {
  color: #fff;
}
.contact_us .marketing_title b {
  background: #fff;
}
.contact_us .marketing_title span {
  border-bottom: 1px solid #fff;
}
.contact_us .marketing_title dd {
  color: #fff;
}
.contact_type {
  width: 100%;
  display: flex;
  -webkit-flex: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact_type .img_box {
  height: 65px;
}
.contact_type dd {
  flex-direction: column;
  display: flex;
  -webkit-flex: flex;
  align-items: center;
  justify-content: center;
  width: 22%;
  text-align: center;
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  margin-top: 16px;
}
.contact_type dd:hover {
  background: #b9010b;
}
@media (max-width: 1100px) {
  .contact_type dd {
    width: 40%;
  }
}
