.title {
  width: 100%;
  text-align: center;
}
.title h2 {
  color: #e5000c;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 18px;
}
.title p {
  font-size: 18px;
  color: #999;
  line-height: 18px;
  margin-bottom: 58px;
}
.plan_box {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  -webkit-flex: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.plan_box dd {
  width: 22%;
  margin-bottom: 65px;
}
.plan_box img {
  width: 100%;
}
.plan_box h3 {
  font-size: 14px;
  color: #333;
  line-height: 14px;
  margin: 18px 0 15px ;
}
.plan_box p {
  width: 100%;
  font-size: 12px;
  color: #999;
}
@media (max-width: 1200px) {
  .plan_box > dd {
    width: 30%;
  }
}
@media (max-width: 1000px) {
  .plan_box > dd {
    width: 45%;
  }
}
@media (max-width: 700px) {
  .plan_box > dd {
    width: 100%;
  }
}
